<form (ngSubmit)="fazerLogin()">
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input 
      type="email" 
      name="email" 
      id="email" 
      class="form-control" 
      [ngModel]="email()" 
      (ngModelChange)="email.set($event)" 
      placeholder="seu@email.com" 
      required 
      #emailInput="ngModel">
    @if (emailInput.invalid && emailInput.touched) {
      <div class="text-danger small mt-1">Insira um e-mail válido.</div>
    }
  </div>

<div class="mb-3">
    <label for="txtSenha" class="form-label">Senha</label>
    <input 
      type="password" 
      name="senha" 
      id="txtSenha" 
      class="form-control" 
      [ngModel]="senha()" 
      (ngModelChange)="senha.set($event)" 
      placeholder="********" 
      required 
      #senhaInput="ngModel">
    @if (senhaInput.invalid && senhaInput.touched) {
      <div class="text-danger small mt-1">A senha é obrigatória.</div>
    }
  </div>

  <button 
    type="submit" 
    class="btn btn-primary w-100" 
    [disabled]="!email() || !senha()">
    Entrar
  </button>
</form>