@for (obj of lista; track obj.codigo) {
  <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
    <img [src]="obj.codigo + '.jpg'" class="card-img-top h-50" [alt]="obj.nome">
    <h5 class="card-title">{{ obj.nome }}</h5>
    <div class="card-body">
      @if (obj.valorPromo === 0 || !obj.valorPromo) {
        <div>
          de: <s>R$ {{ obj.valor }}</s> <br>
          por: R$ {{ obj.valor }} <br>
        </div>
      } @else {
        <div>
          por: R$ {{ obj.valorPromo }} <br>
        </div>
      }
      <button class="btn btn-outline-info w-50" (click)="verDetalhe(obj);">ver +</button>
      @if (obj.quantidade > 0) {
        <button class="btn btn-outline-success w-50" (click)="adicionarProduto(obj)">comprar</button>
      }
    </div>
  </div>
}